---
import Layouts from '../../layouts/MainLayouts.astro';
import books from '../../data/data.json';
import Info from '../../components/Info.astro';
import Card from '../../components/Cards.astro';

export function getStaticPaths() {
  // Astro.fetchContent('../../data/data.json')
  // .then((res) => res.json())
  // .then((data) => console.log(data))
  // .catch((err) => console.log(err))
  // const slugify = url => (url.replace(/[^a-z0-9 -]/g, '').replace(/\s+/g, '-'));

  return books.books.map((item) => {
    return {
      params: { category: item.category.toLowerCase() },
      props: { item }
    }
  });
}

// const { params } = Astro.request;
const { item } = Astro.props;
---

<Layouts title={item.category}>
  <Info title={item.category} />
  <section class="py-4 flex flex-wrap justify-center items-center">
    <Card
      img={item.img}
      category={item.category}
      title={item.title}
      description={item.description}
      author={item.autor}
      rating={item.calificacion}
      pages={item.cantidad_de_paginas}
      publication={item.fecha_de_publicacion}
    />
  </section>
</Layouts>