---
import Layouts from '../../layouts/MainLayouts.astro';
import books from '../../data/data.js';
import Info from '../../components/Info.astro';
import Card from '../../components/Cards.astro';

export function getStaticPaths() {
    // console.log(d)
  // const slugify = url => (url.replace(/[^a-z0-9 -]/g, '').replace(/\s+/g, '-'));
    // const s = books.filter((c) => c.category === params.category)
    // console.log(s)

  return books.map((item) => {
    return {
      params: { category: item.url_category },
      props: { item }
    }
  });
}

const { params } = Astro.request;
const { item } = Astro.props;
---

<Layouts title={item.category}>
  <Info title={item.category} text="" />
  <section class="container py-4 flex flex-wrap justify-center items-center">
    <Card
      img={item.img}
      category={item.category}
      title={item.title}
      description={item.description}
      author={item.autor}
      rating={item.calificacion}
      pages={item.cantidad_de_paginas}
      publication={item.fecha_de_publicacion}
    />
  </section>
</Layouts>