---
import books from '../data/data.json';
import Card from '../components/Cards.astro';

const tags = [
  {url: 'terror', category: 'Terror'},
  {url: 'arte', category: 'Arte'},
  {url: 'triller', category: 'Triller'},
  {url: 'ciencias', category: 'Ciencias'},
  {url: 'cocina', category: 'Cocina'},
  {url: 'tecnologia', category: 'Tecnologia'},
  {url: 'romance', category: 'Romance'}
];
---

<section class="flex my-5 justify-center flex-col items-center">
  <div class="flex flex-wrap justify-center px-3 text-base md:text-xl">
    {tags.map((item) => (
      <a class="block" href={`/categories/${item.url}`}>
        <span
          class="p-2 flex items-center rounded-lg border border-lime-400 text-lime-700 bg-lime-50 m-0.5 hover:bg-lime-400 md:mx-2"
        >
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 7h.01M7 3h5c.512 0 1.024.195 1.414.586l7 7a2 2 0 010 2.828l-7 7a2 2 0 01-2.828 0l-7-7A1.994 1.994 0 013 12V7a4 4 0 014-4z" />
          </svg>
          {item.category}
        </span>
      </a>
    ))}
  </div>
  <section class="container py-4 flex flex-wrap justify-center items-center">
    {books.books.map((item) => (
      <Card
        img={item.img}
        category={item.category}
        title={item.title}
        description={item.description}
        author={item.autor}
        rating={item.calificacion}
        pages={item.cantidad_de_paginas}
        publication={item.fecha_de_publicacion}
      />
    ))}
  </section>
</section>